<% content_for(:head) do %>
<%= auto_discovery_link_tag(:rss, posts_url(:format => :rss), :title => "Amit's Travel Blog RSS Feed") %>
<% end %>
<% admin do %>
<nav>
  <ul>
    <li><%= link_to "New Post", new_post_path %></li>
  </ul>
</nav>
<% end %>
<%= render :partial => "posts", :locals => { :posts => @posts }%>