#checkinscontroller {
  form {
    width: 50%;
    float: left;
  }
  
  form#new_location {
    div.field {
      float: left;
    }
    
    div.actions {
      clear: both;
    }
  }
  
  nav {
    clear: both;
  }
}