<h1>Places I've Been</h1>

<% if !@checkins.blank? %>
<ul>
  <% for region, checkins in @checkins.group_by {|c| c.location.region } %>
  <li><%= region %>
    <ul>
    <% for country, checkins in checkins.group_by {|c| c.location.country } %>
      <li><%= country %>:
        <%= raw checkins.map {|checkin| link_to checkin.location.city, checkin.location }.join(", ") %>
      </li>
    <% end %>
    </ul>
  </li>
  <% end %>
</ul>
<% else %>
  
<% end %>

