<h1>Posts from <%= @location.name %></h1>
<% admin do %>
<nav>
  <ul>
    <li><%= link_to 'Edit Location', edit_location_path(@location) %></li>
  </ul>
</nav>
<% end %>
<%= render :partial => "posts/posts", :locals => {:posts => @location.posts } %>