<h1>Posts from <%= @location.name %></h1>
<%= render :partial => "posts/posts", :locals => {:posts => @location.posts } %>

<% admin do %>
<%= link_to 'Edit Location', edit_location_path(@location) %>
<% end %>